<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1695">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Get In Touch</h2>
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/svgs/phone.svg"
              alt="phone icon"
              class="cs-icon"
              width="24"
              height="24"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Drop Us a Line</span>
            <span class="cs-link-text">Give us a call for a free quote.</span>
            <a href="tel:{{client.phoneForTel}}" class="cs-link"
              >{{client.phoneFormatted}}</a
            >
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="/assets/svgs/email.svg"
              alt="address icon"
              width="24"
              height="24"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Email Us</span>
            <span class="cs-link-text">Request a free quote via email.</span>
            <a href="mailto:{{client.email}}" class="cs-link"
              >{{client.email}}</a
            >
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="/assets/svgs/pin.svg"
              alt="Map icon"
              width="24"
              height="24"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Google Business Profile</span>
            <span class="cs-link-text">View our service area.</span>
            <a
              href="https://maps.app.goo.gl/Z7ssqFCTwaz8NUTC6"
              class="cs-link"
              target="_blank"
              >Big Time Lawn & Home</a
            >
          </div>
        </li>
      </ul>
    </div>
    <!--Form-->
    <form class="cs-form" name="Contact Form" method="post" netlify>
      <label class="cs-label">
        Name
        <input
          class="cs-input"
          required
          type="text"
          id="name-1695"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="cs-label">
        Email
        <input
          class="cs-input"
          required
          type="email"
          id="email-1695"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="cs-label">
        Phone
        <input
          class="cs-input"
          required
          type="tel"
          id="phone-1695"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="cs-label">
        Address
        <input
          class="cs-input"
          type="text"
          id="find-1695"
          name="find-us"
          placeholder="Address"
        />
      </label>
      <label class="cs-label cs-label-message">
        Service(s) Requested
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1695"
          placeholder="Briefly describe your project..."
        ></textarea>
      </label>
      <p class="cs-wrapper">
        <button class="cs-button-solid cs-submit" type="submit">
          Send Message
        </button>
      </p>
    </form>
  </div>

  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="../assets/images/contact-bg-m.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="../assets/images/contact-bg.webp"
    />
    <img
      loading="lazy"
      decoding="async"
      src="../assets/images/contact-bg.webp"
      alt="Shrub Installation"
      width="650"
      height="613"
    />
  </picture>
</section>
