---
title: "About"
description: "Family-owned with over 20 years of experience in landscaping and lawn care. Discover why customers trust us for their outdoor needs."
preloadImg: "/assets/images/landing.webp"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-945">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Long Left Image-->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-1.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-1.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/about-1.webp"
          alt="hair salon"
          width="349"
          height="590"
        />
      </picture>
      <!--Top right image-->
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-2.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-2.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/about-2.webp"
          alt="hair salon"
          width="281"
          height="387"
        />
      </picture>
      <!--Bottom right image-->
      <picture class="cs-picture cs-picture3">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-3.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-3.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/about-3.webp"
          alt="hair salon"
          width="281"
          height="280"
        />
      </picture>
      <!--Seal-->
      <img
        class="cs-seal"
        loading="lazy"
        decoding="async"
        src="/assets/images/seal.webp"
        alt="Big Time Lawn Seal"
        width="150"
        height="150"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Big Time Lawn</span>
      <h2 class="cs-title">Rooted in Passion, Grown through Generations</h2>
      <p class="cs-text">
        With a combined experience of over 20 years, Big Time Lawn is a
        family-owned business founded on the principles of hard work and
        passion. Our journey began when my father started his landscaping
        business, and I joined him during summer days, sparking a lifelong love
        for transforming landscapes. Today, we are driven by the joy of serving
        others and bringing their landscaping dreams to life.
      </p>
      <div class="cs-contact-group">
        <a class="cs-link" href="tel:+12059832268">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/pin.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Drop a Line</span>
            <span class="cs-link-content">(205) 983-2268</span>
          </div>
        </a>
        <a class="cs-link" href="mailto:porter@bigtimelawn.com">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/email.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Send a Message</span>
            <span class="cs-link-content">porter@bigtimelawn.com</span>
          </div>
        </a>
      </div>
      <a
        href="/landscaping"
        class="cs-button-solid"
        aria-label="learn more about us"
        >View Our Services</a
      >
    </div>
  </div>
  <!--Zen Leaf Group-->
  <img
    class="cs-floater"
    loading="lazy"
    decoding="async"
    src="/assets/images/mower-bg.webp"
    alt="hair tools"
    width="445"
    height="310"
  />
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1634">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Why Choose Us</span>
        <h2 class="cs-title">The Big Time Lawn Difference</h2>
      </div>
      <p class="cs-text">
        As a small team of four dedicated professionals, we take the time to
        understand your needs, ensuring a personalized approach that makes your
        lawn the best it can possibly look. Trust us for reliability,
        transparency, and a landscape that exceeds your expectations.
      </p>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="/assets/svgs/bell.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Quality Service</h3>
            <p class="cs-item-text">
              We care for every aspect of your lawn, ensuring that every service
              we provide reflects our dedication to excellence and your
              satisfaction.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="/assets/svgs/chat.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Effective Communication</h3>
            <p class="cs-item-text">
              We believe in transparent and open dialogue, keeping you informed
              at every step of the process, so you can have peace of mind
              knowing that your concerns and preferences are heard and
              addressed.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="/assets/svgs/target.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Superb Results</h3>
            <p class="cs-item-text">
              Choosing Big Time Lawn means choosing proven results; our
              expertise ensures that your lawn will not only meet but exceed
              your expectations, making it the best it can possibly look.
            </p>
          </div>
        </li>
      </ul>
      <div class="cs-image-group">
        <div class="cs-picture-wrapper">
          <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/why-1.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/why-1.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/why-1.webp"
              alt="Shrub and Tree Installation"
              width="434"
              height="414"
            />
          </picture>
          <div class="cs-box">
            <span class="cs-header">Big Time Lawn & Home</span>
            <span class="cs-desc">Save Your Time. Save Your Lawn.</span>
          </div>
        </div>
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/why-2.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/why-2.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/why-2.webp"
            alt="Beautiful Lawns"
            width="197"
            height="197"
          />
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-2196">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Meet the Team</span>
      <h2 class="cs-title">Dedicated Professionals, Exceptional Results</h2>
      <p class="cs-text">
        At Big Time Lawn, our team is more than just lawn care specialists—we
        are passionate professionals committed to transforming outdoor spaces.
        When you choose Big Time Lawn, you're not just hiring a service—you're
        partnering with a team that treats your lawn like our own.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/team-porter-thomas.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/team-porter-thomas.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/team-porter-thomas.webp"
              alt="person"
              width="305"
              height="320"
            />
          </picture>
        </div>
        <div class="cs-info">
          <span class="cs-job">Owner & CEO</span>
          <span class="cs-name">Porter Thomas</span>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/team-dominick-spinelli.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/team-dominick-spinelli.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/team-dominick-spinelli.webp"
              alt="person"
              width="305"
              height="320"
            />
          </picture>
        </div>
        <div class="cs-info">
          <span class="cs-job">Team Member</span>
          <span class="cs-name">Dominick Spinelli</span>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/team-ian-shaffer.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/team-ian-shaffer.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/team-ian-shaffer.webp"
              alt="person"
              width="305"
              height="320"
            />
          </picture>
        </div>
        <div class="cs-info">
          <span class="cs-job">Team Member</span>
          <span class="cs-name">Ian Shaffer</span>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/team-kaylee-thomas.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/team-kaylee-thomas.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/team-kaylee-thomas.webp"
              alt="person"
              width="305"
              height="320"
            />
          </picture>
        </div>
        <div class="cs-info">
          <span class="cs-job">Team Member</span>
          <span class="cs-name">Kaylee Thomas</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1574">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-icon"
          src="/assets/svgs/grass.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">10,000+</span>
        <span class="cs-info">Lawns Mowed</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="/assets/svgs/weed.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">20+</span>
        <span class="cs-info">Years of Experience</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="/assets/svgs/ecomm-hand.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">4</span>
        <span class="cs-info">Dedicated Team Members</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="/assets/svgs/ecomm-thumb.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">100%</span>
        <span class="cs-info">Customer Satisfaction</span>
      </li>
    </ul>
  </div>
  <img
    class="cs-background"
    src="/assets/svgs/ecomm-waves.svg"
    alt="waves"
    width="1920"
    height="500"
    loading="lazy"
    decoding="async"
  />
</section>

{% include 'components/cta.html' %} {% endblock %}
