---
title: "Services"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.webp"
permalink: "services/"
eleventyNavigation:
  key: Services
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Services</h1>
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="Shrub Installation"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-944">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Lawn Maintenance</span>
      <h2 class="cs-title">Transform Your Lawn with Expert Care</h2>
      <p class="cs-text">
        At <strong>Big Time Lawn</strong>, we specialize in providing top-notch
        lawn care services that go beyond maintenance. Our primary services
        mowing, precise edging, thorough weed eating, blowing, and garden bed
        weed control. Trust us to make your lawn the envy of the neighborhood.
      </p>
      <a
        class="cs-button-solid"
        aria-label="read more about our services"
        href="/about"
        >About Big Time Lawn</a
      >
    </div>
    <!-- Right Image Section -->
    <div class="cs-picture-group">
      <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/video.webp" />
        <source media="(min-width: 601px)" srcset="/assets/images/video.webp" />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/video.webp"
          alt="Mowing Video"
          width="630"
          height="380"
          aria-hidden="true"
        />
      </picture>
      <a class="cs-play" href="#" alt="Play Button">
        <img
          class="cs-play-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/play-white.svg"
          alt="play link"
          width="24"
          height="24"
          aria-hidden="true"
        />
      </a>
    </div>
  </div>
  <ul class="cs-card-group">
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/grass.svg"
        alt="Mowing"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Mowing</h3>
      <p class="cs-item-text">
        Our mowing service is executed to deliver a lush, well-manicured,
        healthy green lawn that enhances curb appeal.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/lawn-1.webp"
          alt="Mowing"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/weed.svg"
        alt="Weed Eating"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Weed Eating</h3>
      <p class="cs-item-text">
        Our thorough weed eating service targets and eliminates unwanted growth,
        ensuring a weed-free outdoor space.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/lawn-2.webp"
          alt="Weed Eating"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/garden.svg"
        alt="Edging"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Edging</h3>
      <p class="cs-item-text">
        Our precise edging service creates clean lines that contribute to a
        well-maintained, visually stunning landscape.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/lawn-3.webp"
          alt="Edging"
          width="480"
          height="425"
        />
      </picture>
    </li>
  </ul>
  <!--Waves Background-->
  <picture class="cs-waves">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
      alt="waves graphic"
      width="1920"
      height="331"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-965">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">Beyond Lawn Maintenance</h2>
      <p class="cs-text">
        In addition to our exceptional lawn maintenance, we offer a range of
        featured services to enhance your outdoor space. From Mulch & Pinestraw
        Installs to Shrub and Tree Installations, Core Aerations, Fence
        Installs, Sod Installations, Land Clearing, and Annual Top Dressings, we
        have the expertise to turn your landscape vision into reality.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Mulch & Pinestraw</h3>
        <p class="cs-item-text">
          Enhance the aesthetics of your landscape with our Mulch and Pinestraw
          Installation service, providing a protective and visually pleasing
          layer that promotes plant health.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Mulch and Pinestraw"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Shrub, Tree, & Sod</h3>
        <p class="cs-item-text">
          Transform your outdoor space with our comprehensive Shrub, Tree, and
          Sod Installation services, expertly tailored to add greenery,
          structure, and vitality to your lawn.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Shrub, Tree, and Sod"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Core Aerations</h3>
        <p class="cs-item-text">
          Boost the health of your lawn with Core Aerations, a specialized
          service that facilitates better air and nutrient absorption, resulting
          in a lush, thriving turf.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Core Aerations"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Fence Installation</h3>
        <p class="cs-item-text">
          Ensure privacy and security for your property with our professional
          Fence Installation service, combining functionality and style to
          complement your landscape.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Fence Installation"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Land Clearing</h3>
        <p class="cs-item-text">
          Prepare your land for new possibilities with our Land Clearing
          service, expertly removing obstacles and creating a clean canvas for
          your landscaping vision.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Land Clearing"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg"
            alt="hair cut"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Annual Top Dressings</h3>
        <p class="cs-item-text">
          Preserve and enrich your soil with our Annual Top Dressings, a vital
          service that rejuvenates and fortifies your lawn, ensuring
          long-lasting health and vibrancy.
        </p>
        <a href="" class="cs-link">Read More</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lawn-3.webp"
            alt="Annual Top Dressings"
            width="480"
            height="425"
          />
        </picture>
      </li>
    </ul>
  </div>
  <!--Waves Background-->
  <picture class="cs-waves">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
      alt="waves graphic"
      width="1920"
      height="331"
      aria-hidden="true"
    />
  </picture>
</section>

{% include 'components/cta.html' %} {% endblock %}
