---
title: "Gallery"
description: "Explore our portfolio of stunning landscaping and lawn care projects. See how we’ve transformed outdoor spaces across Alabama."
preloadImg: "/assets/images/landing.webp"
permalink: "gallery/"
eleventyNavigation:
  key: Gallery
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Gallery</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="Shrub Installation"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-47">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Project Gallery</span>
      <h2 class="cs-title">Explore Our Completed Projects</h2>
      <p class="cs-text">
        Witness the transformation. Browse through our project gallery
        showcasing over 10,000 lawns we've mowed and numerous landscaping
        projects we've successfully completed over our two-decade journey. Let
        our work speak for itself.
      </p>
    </div>
    <ul class="cs-image-group">
      <!-- Image 1 -->
      <li class="cs-item cs-item-1">
        <a
          href="https://www.facebook.com/photo/?fbid=457960156990251&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-7-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-7.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-7.webp"
              alt="Fence Installation"
              width="529"
              height="256"
            /> </picture
        ></a>
      </li>
      <!-- Image 2 -->
      <li class="cs-item cs-item-2">
        <a
          href="https://www.facebook.com/photo/?fbid=585585104227755&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-9-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-9.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-9.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 3 -->
      <li class="cs-item cs-item-3">
        <a
          href="https://www.facebook.com/photo/?fbid=457960180323582&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-10-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-10.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-10.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 4 -->
      <li class="cs-item cs-item-4">
        <a
          href="https://www.facebook.com/photo/?fbid=393527706766830&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-11-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-11.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-11.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 5 -->
      <li class="cs-item cs-item-5">
        <a
          href="https://www.facebook.com/photo/?fbid=457960166990250&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-12-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-12.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-12.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 6 -->
      <li class="cs-item cs-item-6">
        <a
          href="https://www.facebook.com/photo/?fbid=400125092773758&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-8-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-8.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-8.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="530"
            /> </picture
        ></a>
      </li>
    </ul>
    <ul class="cs-image-group">
      <!-- Image 1 -->
      <li class="cs-item cs-item-1">
        <a
          href="https://www.facebook.com/photo/?fbid=195699473216322&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-1-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-1.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-1.webp"
              alt="Fence Installation"
              width="529"
              height="256"
            /> </picture
        ></a>
      </li>
      <!-- Image 2 -->
      <li class="cs-item cs-item-2">
        <a
          href="https://www.facebook.com/BigTimeThomas/photos"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-3-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-3.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-3.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 3 -->
      <li class="cs-item cs-item-3">
        <a
          href="https://www.facebook.com/BigTimeThomas/photos"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-4-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-4.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-4.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 4 -->
      <li class="cs-item cs-item-4">
        <picture class="cs-picture">
          <a
          href="https://www.facebook.com/BigTimeThomas/photos"
          aria-label="Facebook Photo Gallery"
          target="_blank">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/gallery/gallery-5-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/gallery/gallery-5.webp"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/gallery/gallery-5.webp"
            alt="Completed Big Time Lawn Project"
            width="255"
            height="255"
          />
        </picture></a>
      </li>
      <!-- Image 5 -->
      <li class="cs-item cs-item-5">
        <a
          href="https://www.facebook.com/photo/?fbid=346800151439586&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-6-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-6.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-6.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 6 -->
      <li class="cs-item cs-item-6">
        <a
          href="https://www.facebook.com/photo/?fbid=346800174772917&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-2-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-2.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-2.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="530"
            /> </picture
        ></a>
      </li>
    </ul>
    <br>
    <a href="https://www.facebook.com/BigTimeThomas/photos" target="_blank" class="cs-button-solid">View Facebook Photo Gallery</a>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
