---
title: "Reviews"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "reviews/"
eleventyNavigation:
  key: Reviews
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Reviews</h1>
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="new home"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Reviews</span>
      <h2 class="cs-title">Real Stories, Real Satisfaction</h2>
      <p class="cs-text">
        Relive the positive experiences of our satisfied clients. Their
        testimonials reflect the commitment we have to delivering exceptional
        service and making landscape dreams a reality.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="../assets/images/reviews-1.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Barron Polk
            <span class="cs-job">Lawncare</span>
          </span>
        </div>
        <p class="cs-review">
          Excellent service, very knowledgeable, didn't mind being disturbed
          with questions. They were efficient, kept me informed of progress and
          when they were done, they cleaned everything. I'm definitely a
          lifetime customer
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="../assets/images/reviews-2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            James Logan
            <span class="cs-job">Lawn & Home</span>
          </span>
        </div>
        <p class="cs-review">
          Wonderful work and the best communication that I could ask for. Would
          recommend to anyone needing work done on their lawn or home in the
          area.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="../assets/images/reviews-3.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Kimberly Arnwine
            <span class="cs-job">Tree Removal & Lawn</span>
          </span>
        </div>
        <p class="cs-review">
          They cut down some trees for me and installed all new sod. Loved the
          work and good to have guys you can trust. Would use again and will
          continue to be my lawn and home guys!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
    </ul>
  </div>
  <!--Top Left Quote-->
  <img
    class="cs-quote1"
    aria-hidden="true"
    src="../assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
  <!--Top Right Quote-->
  <img
    class="cs-quote2"
    aria-hidden="true"
    src="../assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
</section>

{% include 'components/cta.html' %} {% endblock %}
