---
title: "Reviews"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.webp"
permalink: "reviews/"
eleventyNavigation:
  key: Reviews
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Reviews</h1>
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="Shrub Installation"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Reviews</span>
      <h2 class="cs-title">Real Stories, Real Satisfaction</h2>
      <p class="cs-text">
        Relive the positive experiences of our satisfied clients. Their
        testimonials reflect the commitment we have to delivering exceptional
        service and making landscape dreams a reality.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-1.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Barron Polk
            <span class="cs-job">Lawncare</span>
          </span>
        </div>
        <p class="cs-review">
          Excellent service, very knowledgeable, didn't mind being disturbed
          with questions. They were efficient, kept me informed of progress and
          when they were done, they cleaned everything. I'm definitely a
          lifetime customer
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            James Logan
            <span class="cs-job">Lawn & Home</span>
          </span>
        </div>
        <p class="cs-review">
          Wonderful work and the best communication that I could ask for. Would
          recommend to anyone needing work done on their lawn or home in the
          area.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-3.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Kimberly Arnwine
            <span class="cs-job">Tree Removal & Lawn</span>
          </span>
        </div>
        <p class="cs-review">
          They cut down some trees for me and installed all new sod. Loved the
          work and good to have guys you can trust. Would use again and will
          continue to be my lawn and home guys!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>

      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-4.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Michele Rogers
            <span class="cs-job">Christmas Lights</span>
          </span>
        </div>
        <p class="cs-review">
          Big Time Lawn & Home is definitely your go to team for hanging
          Christmas Lights. Fast and professional install along with great
          pricing made this a win-win for us. We highly recommend them
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-5.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            borlats
            <span class="cs-job">Lawn Care & Maintenance</span>
          </span>
        </div>
        <p class="cs-review">
          These guys do incredible work at an affordable price. If you're
          looking for any type of lawn care and maintenance, these are your
          guys. Been using them for around a year now and have no plans to
          change.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-6.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Cliff James
            <span class="cs-job">Lawn Care & Christmas Lights</span>
          </span>
        </div>
        <p class="cs-review">
          Have been using Big Time Lawn for two years. They provide excellent
          service and are very flexible with my needs. I have used them for lawn
          care, tree trimming, hedge trimming, pine straw and this year
          Christmas lights on the roof. I highly recommend them for all your
          lawn care (and Christmas light) needs.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-7.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            David Johnson
            <span class="cs-job">Custom Projects</span>
          </span>
        </div>
        <p class="cs-review">
          We've used Big Time Lawn and Home on several projects over the last
          two years. Porter and his team did great work for us, and we are
          really pleased with the results! Will continue to use their services
          in 2025!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-8.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            David Olivet
            <span class="cs-job">Christmas Lights</span>
          </span>
        </div>
        <p class="cs-review">
          The team at Big Time as put up roof lights on our house for the past 4
          years and they always look great!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-9.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Gary Haggard
            <span class="cs-job">Lawn Aeration</span>
          </span>
        </div>
        <p class="cs-review">
          Porter and his crew did a great job of lawn aeration! I'm going to use
          them in the Spring to level spots in yard, scalp for sanding, and sand
          for optimum Bermuda growth.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-10.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            John Monks
            <span class="cs-job">Custom Projects</span>
          </span>
        </div>
        <p class="cs-review">
          Porter and his team came out to our home early in the process and
          walked everything off to see how much product they would need to do
          what we wanted. He knew everything about every plant and tree in our
          yard. He listened to us when we had concerns and gave us options to
          suit our needs. They are EXTREMELY professional and willing to take
          time to explain what is happening and what plans they have to realize
          your vision. I would recommend them to anyone and everyone! I will
          definitely ask them back if I need more work in the future.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/reviews-11.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Edward McClure
            <span class="cs-job">Christmas Lights</span>
          </span>
        </div>
        <p class="cs-review">
          Porter Thomas and his team at Big Time Lawn & Home installed Christmas
          lights around our home last year and again this year. We were very
          pleased with the quality of work along with the convenience of having
          professionals do it. His service includes designing the layout,
          purchasing and installing the lights, replacing any that go out after
          installation, then taking them down and storing them until needed
          again. His prices are very fair for the level of service provided.
          We're looking forward to using him in subsequent years too.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="/assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <a
          href="https://www.google.com/maps/place/Big+Time+Lawn+%26+Home+LLC/@33.4220382,-87.1807818,10z/data=!4m8!3m7!1s0x8e23e54ca7b8eeef:0xf9ed0a0077b78012!8m2!3d33.4224759!4d-86.8504715!9m1!1b1!16s%2Fg%2F11s60wj9gy?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          ><span class="cs-desc">Google Reviews</span></a
        >
      </li>
    </ul>
  </div>
  <!--Top Left Quote-->
  <img
    class="cs-quote1"
    aria-hidden="true"
    src="../assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
  <!--Top Right Quote-->
  <img
    class="cs-quote2"
    aria-hidden="true"
    src="../assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
</section>

{% include 'components/cta.html' %} {% endblock %}
