/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-944 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 28px - 72px */
    gap: clamp(1.75rem, 6vw, 4.5rem);
    position: relative;
    z-index: 1;
  }
  #services-944 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-944 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-944 .cs-text {
    margin-bottom: 1rem;
  }
  #services-944 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-944 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primaryDark);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-944 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-944 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-944 .cs-picture-group {
    width: 100%;
    max-width: 39.375em;
    position: relative;
    overflow: hidden;
  }
  #services-944 .cs-picture-group:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-944 .cs-picture-group:hover .cs-picture:before {
    opacity: 0.6;
  }
  #services-944 .cs-picture {
    width: 100%;
    /* 280px - 380px */
    height: clamp(17.5rem, 43vw, 23.75rem);
    position: relative;
    display: block;
    z-index: 1;
  }
  #services-944 .cs-picture:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-944 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    transition: transform 0.8s;
  }
  #services-944 .cs-play {
    /* 80px - 100px */
    width: clamp(5rem, 6vw, 6.25rem);
    height: clamp(5rem, 6vw, 6.25rem);
    border: 2px solid #bababa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: background-color 0.3s;
  }
  #services-944 .cs-play:hover {
    background-color: var(--primary);
  }
  #services-944 .cs-play-icon {
    /* 20px - 24px */
    width: clamp(1.25rem, 1.5vw, 1.5rem);
    height: auto;
    display: block;
  }
  #services-944 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-944 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    /* 24px - 64px top & bottom */
    /* 24px - 40px left & right */
    padding: clamp(1.5rem, 6vw, 4rem) clamp(1.5rem, 6vw, 2.5rem);
    background-color: #fbf8f6;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-944 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #services-944 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-944 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-944 .cs-icon {
    width: 2.5rem;
    height: auto;
    margin: 0 0 1.25rem 0;
  }
  #services-944 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-944 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-944 .cs-link {
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #services-944 .cs-link:hover {
    color: #fff;
  }
  #services-944 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-944 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-944 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-944 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #services-944 .cs-waves {
    width: 100%;
    /* 228px - 300px */
    height: clamp(14.25rem, 30vw, 18.75rem);
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-944 .cs-waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-944 {
    overflow: visible;
  }
  #services-944 .cs-container {
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    /* set flexbox back to the row orientation */
    flex-direction: row;
  }
  #services-944 .cs-content {
    text-align: left;
    width: 44.6%;
    /* prevents flexbox from squishing it */
    flex: none;
    align-items: flex-start;
  }
  #services-944 .cs-picture-group {
    width: 50%;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #services-944 .cs-card-group {
    max-width: 80rem;
  }
  #services-944 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-944 .cs-title,
  body.dark-mode #services-944 .cs-text,
  body.dark-mode #services-944 .cs-h3,
  body.dark-mode #services-944 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-944 .cs-text,
  body.dark-mode #services-944 .cs-item-text {
    opacity: 0.9;
  }
  body.dark-mode #services-944 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #services-944 .cs-waves {
    opacity: 0.7;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-965 {
    padding: var(--sectionPadding);
    background: url("/assets/svgs/chevron.svg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
  }
  #services-965 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-965 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-965 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-965 .cs-title,
  #services-965 .cs-text {
    max-width: 100%;
    color: var(--bodyTextColorWhite);
  }
  #services-965 .cs-text {
    opacity: 0.8;
  }
  #services-965 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.875rem;
  }
  #services-965 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* margin top value to match the negative margin value of the .cs-icon-wrapper */
    margin: 2.75rem 0 0 0;
    /* 24px - 64px bottom */
    /* 24px - 40px left & right */
    padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
    background-color: #fbf8f6;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-965 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #services-965 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-965 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-965 .cs-icon-wrapper {
    width: 5.5rem;
    height: 5.5rem;
    margin: -2.75rem auto 2rem 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(clamp(1.5rem, 4vw, 2.5rem)*-1);
  }
  #services-965 .cs-icon {
    width: 2.5rem;
    height: auto;
  }
  #services-965 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-965 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-965 .cs-link {
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #services-965 .cs-link:hover {
    color: #fff;
  }
  #services-965 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-965 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-965 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-965 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #services-965 .cs-waves {
    width: 100%;
    height: 13.875rem;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-965 .cs-waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-965 .cs-container {
    max-width: 80rem;
  }
  #services-965 .cs-item {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-965 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-965 {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
