/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2041 {
    /* 200px - 300px - top leaving extra space for the navigation */
    /* 60px - 100px bottom */
    padding: clamp(12.5rem, 25.95vw, 14.75em) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-2041 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 53.125rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-topper {
    line-height: 1em;
    padding: 0.25rem 1rem;
    background-color: #fff;
    color: var(--primary);
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-topper:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2041 .cs-title {
    /* 39px - 80px */
    font-size: clamp(2.4375rem, 8vw, 8rem);
    line-height: 1em;
    max-width: 20ch;
    color: var(--bodyTextColorWhite);
  }
  #hero-2041 .cs-text {
    max-width: 39rem;
    font-size: 1.25rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-2041 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    max-width: 11.25rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: var(--primaryDark);
    overflow: hidden;
    color: var(--bodyTextColorWhite);
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2041 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2041 .cs-form {
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #hero-2041 .cs-label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #hero-2041 .cs-flex {
    display: inline-flex;
    justify-content: flex-start;
    gap: 0;
  }
  #hero-2041 .cs-color {
    color: #ff4747;
  }
  #hero-2041 .cs-input {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5em;
    padding: 1rem;
    background-color: #f7f7f7;
    color: #767676;
    border: none;
    border-radius: 0.5rem;
  }
  #hero-2041 .cs-submit {
    width: max-content;
    align-self: center;
  }
  #hero-2041 .cs-background {
    width: 100%;
    height: 66%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-2041 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.68;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-2041 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2041 .cs-form {
    flex-direction: row;
    align-items: flex-end;
  }
  #hero-2041 .cs-submit {
    /* causes the submit button to grow to it's "auto" width and shrinks the inputs. this makes everything fit within cs-form */
    flex: 1 0 auto;
    align-self: flex-end;
  }
  #hero-2041 .cs-label {
    width: 100%;
    min-width: 0;
  }
  #hero-2041 .cs-background {
    height: 84%;
  }
}
/* Large Desktop - Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-2041 .cs-background {
    background: url("/assets/images/christmas-lights.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero-2041 .cs-background img {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-2041 .cs-form {
    background-color: var(--medium);
  }
  body.dark-mode #hero-2041 .cs-label {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-2041 .cs-input {
    background-color: var(--accent);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-2041 .cs-input::placeholder {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-2041 .cs-background:before {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-929 {
    padding: var(--sectionPadding);
    /* 160px - 200px */
    padding-top: clamp(10rem, 16vw, 12.5rem);
    padding-bottom: 0;
    position: relative;
  }
  #hero-929 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #hero-929 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #hero-929 .cs-title {
    /* 39px - 61px */
    font-family: "Montserrat", Arial, sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 6.8125rem);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.7em;
    text-align: inherit;
    max-width: 68.5rem;
    /* 8px - 16px */
    margin: 0 0 clamp(0.5rem, 2vw, 1rem) 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-929 .cs-title-2 {
    /* 39px - 61px */
    font-family: "Montserrat", Arial, sans-serif;
    font-size: clamp(1.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 68.5rem;
    /* 8px - 16px */
    margin: 0 0 clamp(0.5rem, 2vw, 1rem) 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-929 .cs-flex {
    width: 100%;
    /* removed at small desktop */
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  #hero-929 .cs-content-group {
    width: 100%;
    /* changes to 352px at small desktop */
    max-width: 43.75rem;
  }
  #hero-929 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto 1.75rem auto;
    color: #f7f7f7;
  }
  #hero-929 .cs-hours-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    column-gap: 1.5rem;
  }
  #hero-929 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #hero-929 .cs-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #hero-929 .cs-day {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--primary);
    display: block;
  }
  #hero-929 .cs-time {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: #f7f7f7;
    display: block;
  }
  #hero-929 .cs-picture-group {
    position: relative;
  }
  #hero-929 .cs-tagline {
    /* 52px - 62px */
    font-size: clamp(3.25rem, 7vw, 3.875rem);
    font-family: "Mr Dafoe", cursive;
    line-height: 0.9em;
    max-width: 5ch;
    margin: 0 auto -2.125rem;
    color: var(--primary);
    display: block;
    transform: rotate(-14.36deg) translateX(-6.25rem);
  }
  #hero-929 .cs-picture {
    width: 100%;
    height: auto;
    max-height: 37.375rem;
    display: flex;
    align-items: flex-end;
  }
  #hero-929 .cs-picture img {
    width: 100%;
    height: auto;
  }
  #hero-929 .cs-picture-2 {
    width: 100%;
    height: auto;
    max-height: 37.375rem;
    display: inline-block;
    align-items: flex-end;
  }
  #hero-929 .cs-picture-2 img {
    width: 100%;
    height: auto;
  }
  #hero-929 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-929 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-929 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-929 .cs-header {
    text-align: left;
    width: auto;
    /* removed at small desktop */
    max-width: 18ch;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-929 .cs-flex {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    /* 80px - 100px */
    bottom: clamp(5rem, 8vw, 6.25rem);
  }
  #hero-929 .cs-content-group {
    text-align: left;
    width: 24vw;
    max-width: 22rem;
  }
  #hero-929 .cs-hours-group {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
  }
  #hero-929 .cs-header {
    max-width: 100%;
  }
  #hero-929 .cs-picture-group {
    margin-top: -3.125rem;
  }
  #hero-929 .cs-tagline {
    margin: 0;
    position: absolute;
    /* changes at large desktop */
    left: 3.75rem;
    /* 90px - 130px */
    top: clamp(5.625rem, 10vw, 8.125rem);
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-929 .cs-hours-group {
    max-width: 20rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  #hero-929 .cs-header {
    width: 100%;
  }
  #hero-929 .cs-tagline {
    left: 1.625rem;
    top: 8.125rem;
  }
}
