/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-944 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 28px - 72px */
    gap: clamp(1.75rem, 6vw, 4.5rem);
    position: relative;
    z-index: 1;
  }
  #services-944 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-944 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-944 .cs-text {
    margin-bottom: 1rem;
  }
  #services-944 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-944 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-944 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-944 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-944 .cs-picture-group {
    width: 100%;
    max-width: 39.375em;
    position: relative;
    overflow: hidden;
  }
  #services-944 .cs-picture-group:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-944 .cs-picture-group:hover .cs-picture:before {
    opacity: 0.6;
  }
  #services-944 .cs-picture {
    width: 100%;
    /* 280px - 380px */
    height: clamp(17.5rem, 43vw, 23.75rem);
    position: relative;
    display: block;
    z-index: 1;
  }
  #services-944 .cs-picture:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-944 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    transition: transform 0.8s;
  }
  #services-944 .cs-play {
    /* 80px - 100px */
    width: clamp(5rem, 6vw, 6.25rem);
    height: clamp(5rem, 6vw, 6.25rem);
    border: 2px solid #bababa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: background-color 0.3s;
  }
  #services-944 .cs-play:hover {
    background-color: var(--primary);
  }
  #services-944 .cs-play-icon {
    /* 20px - 24px */
    width: clamp(1.25rem, 1.5vw, 1.5rem);
    height: auto;
    display: block;
  }
  #services-944 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-944 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    /* 24px - 64px top & bottom */
    /* 24px - 40px left & right */
    padding: clamp(1.5rem, 6vw, 4rem) clamp(1.5rem, 6vw, 2.5rem);
    background-color: #f7f3ee;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-944 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #services-944 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-944 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-944 .cs-icon {
    width: 2.5rem;
    height: auto;
    margin: 0 0 1.25rem 0;
  }
  #services-944 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-944 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-944 .cs-link {
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #services-944 .cs-link:hover {
    color: #fff;
  }
  #services-944 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-944 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-944 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-944 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #services-944 .cs-waves {
    width: 100%;
    /* 228px - 300px */
    height: clamp(14.25rem, 30vw, 18.75rem);
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-944 .cs-waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-944 {
    overflow: visible;
  }
  #services-944 .cs-container {
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    /* set flexbox back to the row orientation */
    flex-direction: row;
  }
  #services-944 .cs-content {
    text-align: left;
    width: 44.6%;
    /* prevents flexbox from squishing it */
    flex: none;
    align-items: flex-start;
  }
  #services-944 .cs-picture-group {
    width: 50%;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #services-944 .cs-card-group {
    max-width: 80rem;
  }
  #services-944 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-944 .cs-title,
  body.dark-mode #services-944 .cs-text,
  body.dark-mode #services-944 .cs-h3,
  body.dark-mode #services-944 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-944 .cs-text,
  body.dark-mode #services-944 .cs-item-text {
    opacity: 0.9;
  }
  body.dark-mode #services-944 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #services-944 .cs-waves {
    opacity: 0.7;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-945 {
    padding: var(--sectionPadding);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
  }
  #sbs-945 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-945 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-945 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-945 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-945 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-945 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-945 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-945 .cs-contact-group {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #sbs-945 .cs-link {
    text-decoration: none;
    padding-right: 1.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  #sbs-945 .cs-link:hover:before {
    width: 100%;
    height: 3.5em;
  }
  #sbs-945 .cs-link:hover .cs-wrapper {
    transform: scale(1.2);
  }
  #sbs-945 .cs-link:hover .cs-icon {
    transform: translateX(0.4375rem);
  }
  #sbs-945 .cs-link:before {
    /* light green circle that animates on hover */
    content: "";
    width: 3rem;
    height: 3rem;
    background: #eff1f0;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: width 0.3s, height 0.3s, border-radius 0.3s;
  }
  #sbs-945 .cs-wrapper {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: transform 0.3s;
  }
  #sbs-945 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #sbs-945 .cs-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #sbs-945 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #sbs-945 .cs-link-content {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs-945 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.24vw, .844em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 40.625em;
    height: 42.9375em;
    position: relative;
    z-index: 1;
  }
  #sbs-945 .cs-picture {
    /* clips the image to match the border radius of the cs-picture */
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbs-945 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-945 .cs-picture1 {
    width: 21.8125em;
    height: 36.875em;
    top: 3.0625em;
    left: 0;
  }
  #sbs-945 .cs-picture2 {
    width: 17.5625em;
    height: 24.1875em;
    top: 0;
    right: 0;
  }
  #sbs-945 .cs-picture3 {
    width: 17.5625em;
    height: 17.5em;
    bottom: 0;
    right: 0;
  }
  #sbs-945 .cs-seal {
    width: 9.375em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
  }
  #sbs-945 .cs-floater {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-945 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-945 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.15vw, 1em);
    margin: 0;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-945 .cs-content {
    width: 51%;
  }
}
/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #sbs-945 .cs-floater {
    width: 27.8125rem;
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    top: 0rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-945 .cs-title,
  body.dark-mode #sbs-945 .cs-text,
  body.dark-mode #sbs-945 .cs-header,
  body.dark-mode #sbs-945 .cs-link-content {
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  body.dark-mode #sbs-945 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-945 .cs-link:before {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-945 .cs-icon {
    /* makes icons that are not black turn white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbs-945 .cs-graphic1,
  body.dark-mode #sbs-945 .cs-graphic2 {
    filter: brightness(50%);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-965 {
    padding: var(--sectionPadding);
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light2.svg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
  }
  #services-965 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-965 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-965 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-965 .cs-title,
  #services-965 .cs-text {
    max-width: 100%;
    color: var(--bodyTextColorWhite);
  }
  #services-965 .cs-text {
    opacity: 0.8;
  }
  #services-965 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.875rem;
  }
  #services-965 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* margin top value to match the negative margin value of the .cs-icon-wrapper */
    margin: 2.75rem 0 0 0;
    /* 24px - 64px bottom */
    /* 24px - 40px left & right */
    padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
    background-color: #f7f3ee;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-965 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #services-965 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-965 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-965 .cs-icon-wrapper {
    width: 5.5rem;
    height: 5.5rem;
    margin: -2.75rem auto 2rem 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(clamp(1.5rem, 4vw, 2.5rem)*-1);
  }
  #services-965 .cs-icon {
    width: 2.5rem;
    height: auto;
  }
  #services-965 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-965 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-965 .cs-link {
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #services-965 .cs-link:hover {
    color: #fff;
  }
  #services-965 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-965 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-965 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-965 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #services-965 .cs-waves {
    width: 100%;
    height: 13.875rem;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-965 .cs-waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-965 .cs-container {
    max-width: 80rem;
  }
  #services-965 .cs-item {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-965 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-965 {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-47 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #gallery-47 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-47 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-47 .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    /* 158px - 304px */
    grid-template-rows: 1fr;
    /* 8px - 20px */
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }
  #gallery-47 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    aspect-ratio: 1;
    grid-column: span 6;
    display: block;
    position: relative;
    /* prevents image from overflowing the container on hover */
    overflow: hidden;
  }
  #gallery-47 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #gallery-47 .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-47 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s;
  }
  #gallery-47 .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    aspect-ratio: 328/158;
  }
  #gallery-47 .cs-item-5 {
    grid-column: 7 / span 6;
    grid-row: 3 / span 2;
    aspect-ratio: initial;
  }
  #gallery-47 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #gallery-47 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #gallery-47 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-47 .cs-item {
    grid-column: span 3;
  }
  #gallery-47 .cs-item-1 {
    grid-column: 1 / span 6;
  }
  #gallery-47 .cs-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  #gallery-47 .cs-item-3 {
    grid-column: 4 / span 3;
    grid-row: 2;
  }
  #gallery-47 .cs-item-5 {
    grid-column: 7 / span 3;
    grid-row: 2;
  }
  #gallery-47 .cs-item-6 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    aspect-ratio: initial;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-47 .cs-title,
  body.dark-mode #gallery-47 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #gallery-47 .cs-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1634 {
    padding: var(--sectionPadding);
  }
  #why-choose-1634 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1634 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1634 .cs-title {
    max-width: 20ch;
  }
  #why-choose-1634 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-1634 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #why-choose-1634 .cs-wrapper {
    width: 100%;
  }
  #why-choose-1634 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #why-choose-1634 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }
  #why-choose-1634 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1634 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1634 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    text-align: inherit;
  }
  #why-choose-1634 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    text-align: inherit;
  }
  #why-choose-1634 .cs-wrapper {
    /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
    display: contents;
  }
  #why-choose-1634 .cs-image-group {
    font-size: min(2.7vw, 1em);
    width: 33.875em;
    height: 30.875em;
    /* sends it to teh top in the 1st position */
    order: -1;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture-wrapper {
    width: 80.073801%;
    height: 83.805668%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #why-choose-1634 .cs-box {
    width: 60%;
    margin-top: -2.375em;
    margin-left: 1.5em;
    padding: 1em;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    position: relative;
    z-index: 10;
  }
  #why-choose-1634 .cs-header {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #why-choose-1634 .cs-desc {
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1634 .cs-picture {
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1634 .cs-picture1 {
    width: 100%;
    height: 100%;
  }
  #why-choose-1634 .cs-picture2 {
    width: 36.346863%;
    height: 39.878543%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1634 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1634 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-1634 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #why-choose-1634 .cs-title {
    margin: 0;
  }
  #why-choose-1634 .cs-h3,
  #why-choose-1634 .cs-item-text {
    text-align: left;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 4;
  }
  #why-choose-1634 .cs-image-group {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1634 {
    /* set the darker background color on the main div */
    background-color: #f8f5f1;
    overflow: hidden;
  }
  #why-choose-1634 .cs-content {
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    width: 50%;
  }
  #why-choose-1634 .cs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-wrapper:before {
    /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
    content: "";
    width: 100vw;
    height: 100vw;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1634 .cs-card-group {
    max-width: 39.375rem;
    /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
    padding-top: 3rem;
    align-self: flex-start;
  }
  #why-choose-1634 .cs-image-group {
    width: 33.875em;
    /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
    height: auto;
    min-height: 30.875em;
    /* makes it overlap the .cs-wrapper div */
    margin-top: -3rem;
    order: 2;
    flex: none;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 12;
    flex-direction: row;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1634 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #why-choose-1634 .cs-title,
  body.dark-mode #why-choose-1634 .cs-text,
  body.dark-mode #why-choose-1634 .cs-h3,
  body.dark-mode #why-choose-1634 .cs-item-text,
  body.dark-mode #why-choose-1634 .cs-header {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1634 .cs-text,
  body.dark-mode #why-choose-1634 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1634 .cs-box {
    background-color: var(--dark);
    position: relative;
    z-index: 1;
  }
  body.dark-mode #why-choose-1634 .cs-box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  body.dark-mode #why-choose-1634 .cs-wrapper:before {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1574 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #stats-1574 .cs-container {
    list-style: none;
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 36.5rem;
    margin: auto;
  }
  #stats-1574 .cs-card-group {
    width: 100%;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-1574 .cs-item {
    text-align: center;
    width: 100%;
    /* 24px - 40px top & bottom, 16px - 24px sides*/
    padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 3vw, 1.5rem);
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stats-1574 .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  #stats-1574 .cs-stat {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #stats-1574 .cs-info {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #stats-1574 .cs-background {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1574 .cs-container {
    max-width: 80rem;
  }
  #stats-1574 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1574 .cs-item {
    grid-column: span 3;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1574 .cs-background {
    height: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-1574 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #stats-1574 .cs-stat,
  body.dark-mode #stats-1574 .cs-info {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #stats-1574 .cs-info {
    opacity: 0.8;
  }
  body.dark-mode #stats-1574 .cs-background {
    opacity: 0.4;
  }
}
/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1713 {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1713 .cs-container {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #steps-1713 .cs-wrapper {
    /* changes to 630px on tablet */
    max-width: 31.25rem;
    margin: auto;
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1713 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #steps-1713 .cs-title {
    margin: 0;
  }
  #steps-1713 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
    grid-auto-flow: row;
  }
  #steps-1713 .cs-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  #steps-1713 .cs-number {
    /* 80px - 100px */
    font-size: clamp(5rem, 9vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -2px;
    margin-right: -1.25rem;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1713 .cs-h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1713 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1713 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #steps-1713 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #steps-1713 .cs-button-solid:hover:before {
    width: 100%;
  }
  #steps-1713 .cs-background {
    width: 100%;
    height: 22.5rem;
    display: block;
  }
  #steps-1713 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1713 {
    padding: var(--sectionPadding);
  }
  #steps-1713 .cs-container {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  #steps-1713 .cs-title {
    margin: 0;
  }
  #steps-1713 .cs-wrapper {
    width: 65vw;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
  }
  #steps-1713 .cs-card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1713 .cs-item {
    flex-direction: row;
  }
  #steps-1713 .cs-picture {
    width: 11.25rem;
    height: 11.25rem;
  }
  #steps-1713 .cs-background {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1713 .cs-wrapper {
    width: 50vw;
  }
  #steps-1713 .cs-background {
    width: 50vw;
    right: 50%;
    left: auto;
    margin-right: 8rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps-1713 .cs-title,
  body.dark-mode #steps-1713 .cs-h3,
  body.dark-mode #steps-1713 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-1713 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-864 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #reviews-864:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.03;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #reviews-864 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-864 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 56.25rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-864 .cs-title {
    /* 20 characters including spaces */
    max-width: 20ch;
  }
  #reviews-864 .cs-text {
    max-width: 100%;
  }
  #reviews-864 .cs-card-group {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-864 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 32px */
    padding: clamp(1.25rem, 4vw, 2rem);
    background-color: #fff;
    border-radius: 0 1.5rem 0 1.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-column: span 12;
    position: relative;
  }
  #reviews-864 .cs-flex-group {
    width: 100%;
    margin: 0 0 1.25rem 0;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #fbcebd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-864 .cs-profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-864 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-864 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-864 .cs-job {
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-864 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.25rem;
    max-width: 27.75rem;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-stars {
    width: 6.75rem;
    height: auto;
    margin: 0 0 0.5rem 0;
    display: block;
  }
  #reviews-864 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: none;
    width: 12.125rem;
    height: auto;
    display: block;
    position: absolute;
    z-index: -1;
  }
  #reviews-864 .cs-quote1 {
    top: 0;
    left: 0;
  }
  #reviews-864 .cs-quote2 {
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-864 .cs-container {
    max-width: 80rem;
  }
  #reviews-864 .cs-item {
    grid-column: span 6;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 12;
  }
  #reviews-864 .cs-stars {
    margin-top: auto;
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-864 .cs-item {
    grid-column: span 4;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-864 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-864 .cs-title,
  body.dark-mode #reviews-864 .cs-text,
  body.dark-mode #reviews-864 .cs-review,
  body.dark-mode #reviews-864 .cs-name,
  body.dark-mode #reviews-864 .cs-job,
  body.dark-mode #reviews-864 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-864 .cs-text,
  body.dark-mode #reviews-864 .cs-desc {
    opacity: 0.8;
  }
  body.dark-mode #reviews-864 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #reviews-864 .cs-flex-group {
    border-color: var(--accent);
  }
  body.dark-mode #reviews-864 .cs-quote1,
  body.dark-mode #reviews-864 .cs-quote2 {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1109 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #faq-1109 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 32px - 48px */
    gap: clamp(2rem, 6vw, 3rem);
  }
  #faq-1109 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1109 .cs-title {
    /* 32px - 48px */
    margin: 0 0 clamp(2rem, 5vw, 3rem);
  }
  #faq-1109 .cs-picture {
    width: 100%;
    /* 360px - 400px */
    height: clamp(22.5rem, 54vw, 25rem);
    display: block;
    position: relative;
  }
  #faq-1109 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #faq-1109 .cs-faq-group {
    width: 100%;
    max-width: 40.625rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
  }
  #faq-1109 .cs-faq-item {
    list-style: none;
    width: 100%;
    background-color: #f7f7f7;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq-1109 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq-1109 .cs-faq-item.active .cs-button:before {
    background-color: var(--primary);
    transform: rotate(315deg);
  }
  #faq-1109 .cs-faq-item.active .cs-button:after {
    background-color: var(--primary);
    transform: rotate(-315deg);
  }
  #faq-1109 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 20px - 24px bottom */
    /* 16px - 24px left & right */
    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
    opacity: 1;
  }
  #faq-1109 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    /* 20px - 24px */
    padding: clamp(1.25rem, 2vw, 1.5rem);
    background-color: #f7f7f7;
    border: none;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1109 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1109 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.5rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq-1109 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.3125rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq-1109 .cs-button-text {
    width: 80%;
    display: block;
  }
  #faq-1109 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #faq-1109 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #faq-1109 .cs-content {
    width: 40%;
    text-align: left;
    align-items: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1109 .cs-title,
  body.dark-mode #faq-1109 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1109 .cs-faq-item {
    background-color: var(--accent);
  }
  body.dark-mode #faq-1109 .cs-faq-item.active .cs-button {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1109 .cs-faq-item.active .cs-button:before,
  body.dark-mode #faq-1109 .cs-faq-item.active .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1109 .cs-faq-item.active .cs-item-p {
    /* 20px - 24px */
    padding-top: clamp(1.25rem, 1.3vw, 1.5rem);
  }
  body.dark-mode #faq-1109 .cs-button {
    background-color: var(--accent);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1109 .cs-button:before,
  body.dark-mode #faq-1109 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1315 {
    padding: var(--sectionPadding);
    /* clips the cs-floater and prevents it from causing overflow issues */
    overflow: hidden;
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #pricing-1315 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-1315 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-1315 .cs-title {
    max-width: 20ch;
  }
  #pricing-1315 .cs-text {
    margin-bottom: 1rem;
  }
  #pricing-1315 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #pricing-1315 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #pricing-1315 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-1315 .cs-button-solid:hover {
    color: #fff;
  }
  #pricing-1315 .cs-button-solid:hover:before {
    width: 100%;
  }
  #pricing-1315 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #pricing-1315 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 40px top & bootm */
    /* 16px - 24px left & right */
    padding: clamp(2rem, 4.4vw, 2.5rem) clamp(1rem, 2.3vw, 1.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing-1315 .cs-package {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    line-height: 1.2em;
    text-align: inherit;
    text-transform: uppercase;
    font-weight: 700;
    /* 4px - 8px */
    margin: 0 0 clamp(0.25rem, 1vw, 0.5rem) 0;
  }
  #pricing-1315 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1315 .cs-price {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 4vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #pricing-1315 .cs-duration {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    margin: 0;
    /* 4px - 8px */
    padding: clamp(0.25rem, 1vw, 0.5rem) 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1315 .cs-ul {
    width: 100%;
    /* 16px - 24px */
    margin: clamp(1rem, 2vw, 1.25rem) 0 auto 0;
    padding: clamp(1rem, 2vw, 1.25rem) 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1.5vw, 0.75rem);
    position: relative;
  }
  #pricing-1315 .cs-ul:before {
    content: "";
    width: 100%;
    max-width: 15.625rem;
    height: 1px;
    background: linear-gradient(90deg, rgba(232, 232, 232, 0.2) 0%, #e8e8e8 53.78%, rgba(232, 232, 232, 0.2) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #pricing-1315 .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    list-style: none;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1315 .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--primary);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  }
  #pricing-1315 .cs-button-transparent:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-1315 .cs-button-transparent:hover {
    color: #fff;
    border-color: #000;
    background-color: #000;
  }
  #pricing-1315 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #pricing-1315 .cs-button-transparent {
    /* this is the section specific override if you choose to pull out the cs-button-transparent and place it in a global stylesheet to resue acorss the entire site */
    /* 28px - 40px */
    margin-top: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-1315 .cs-floater {
    width: 40.75rem;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1315 .cs-container {
    max-width: 80rem;
  }
  #pricing-1315 .cs-container .cs-card-group {
    margin-bottom: 4.5rem;
    flex-direction: row;
    align-items: stretch;
  }
  #pricing-1315 .cs-container .cs-item:nth-of-type(2) {
    transform: translateY(4.5rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-1315 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #pricing-1315 .cs-content {
    text-align: left;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #pricing-1315 .cs-card-group {
    width: 56.7%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-1315 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #pricing-1315 .cs-title,
  body.dark-mode #pricing-1315 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-1315 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #pricing-1315 .cs-ul:before {
    opacity: 0.5;
  }
  body.dark-mode #pricing-1315 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #pricing-1315 .cs-package {
    color: var(--primary);
  }
  body.dark-mode #pricing-1315 .cs-desc,
  body.dark-mode #pricing-1315 .cs-price,
  body.dark-mode #pricing-1315 .cs-duration,
  body.dark-mode #pricing-1315 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-1315 .cs-duration,
  body.dark-mode #pricing-1315 .cs-li,
  body.dark-mode #pricing-1315 .cs-desc {
    opacity: 0.8;
  }
  body.dark-mode #pricing-1315 .cs-floater {
    opacity: 0.3;
  }
}
