/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-945 {
    padding: var(--sectionPadding);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primaryDark);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-contact-group {
      width: 100%;
      margin-bottom: (32/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: (12/16rem);
    }

    .cs-link {
      text-decoration: none;
      padding-right: (30/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (16/16rem);
      position: relative;

      &:hover {
        &:before {
          width: 100%;
          height: (56/16em);
        }
        .cs-wrapper {
          transform: scale(1.2);
        }

        .cs-icon {
          transform: translateX(0.4375rem);
        }
      }

      &:before {
        /* light green circle that animates on hover */
        content: "";
        width: (48/16rem);
        height: (48/16rem);
        background: #eff1f0;
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%);
        transition: width 0.3s, height 0.3s, border-radius 0.3s;
      }
    }

    .cs-wrapper {
      width: (48/16rem);
      height: (48/16rem);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: (24/16rem);
      height: auto;
      display: block;
      transition: transform 0.3s;
    }

    .cs-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (4/16rem);
    }

    .cs-header {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-link-content {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
      font-size: ~"min(2.24vw, .844em)";
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: (650/16em);
      height: (687/16em);
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      /* clips the image to match the border radius of the cs-picture */
      overflow: hidden;
      display: block;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-picture1 {
      width: (349/16em);
      height: (590/16em);
      top: (49/16em);
      left: 0;
    }

    .cs-picture2 {
      width: (281/16em);
      height: (387/16em);
      top: 0;
      right: 0;
    }

    .cs-picture3 {
      width: (281/16em);
      height: (280/16em);
      bottom: 0;
      right: 0;
    }

    .cs-seal {
      width: (150/16em);
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -40%);
    }

    .cs-floater {
      display: none;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-945 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .cs-image-group {
      /* set to inherit at Large Desktop */
      font-size: ~"min(1.15vw, 1em)";
      margin: 0;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-content {
      width: 51%;
    }
  }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #sbs-945 {
    .cs-floater {
      width: (445/16rem);
      height: auto;
      display: block;
      position: absolute;
      right: 0;
      top: (0/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-945 {
      .cs-title,
      .cs-text,
      .cs-header,
      .cs-link-content {
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
      }

      .cs-text {
        opacity: 0.8;
      }

      .cs-link {
        &:before {
          background-color: var(--accent);
        }
      }

      .cs-icon {
        /* makes icons that are not black turn white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-graphic1,
      .cs-graphic2 {
        filter: brightness(50%);
      }
    }
  }
}

/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1634 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 100px */
      gap: clamp(3rem, 10vw, 6.25rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-flex {
      max-width: (616/16rem);
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-wrapper {
      width: 100%;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      row-gap: (28/16rem);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2.3vw, 1.25rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 3vw, 1.5rem);
    }

    .cs-icon-wrapper {
      /* 60px - 80px */
      width: clamp(3.75rem, 7vw, 5rem);
      height: clamp(3.75rem, 7vw, 5rem);
      margin: 0;
      box-sizing: border-box;
      border: 1px solid var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-icon {
      width: (32/16rem);
      height: auto;
      display: block;
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.5em;
      margin: 0;
      margin-bottom: (8/16rem);
      color: var(--headerColor);
      text-align: inherit;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: inherit;
    }

    .cs-wrapper {
      /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
      display: contents;
    }

    .cs-image-group {
      font-size: ~"min(2.7vw, 1em)";
      width: (542/16em);
      height: (494/16em);
      /* sends it to teh top in the 1st position */
      order: -1;
      position: relative;
      z-index: 1;
    }

    .cs-picture-wrapper {
      width: 80.073801%;
      height: 83.805668%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .cs-box {
      width: 60%;
      margin-top: (-38/16em);
      margin-left: (24/16em);
      padding: (16/16em);
      background-color: #fbf8f6;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (4/16rem);
      position: relative;
      z-index: 10;
    }

    .cs-header {
      font-size: (16/16em);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-desc {
      font-size: (14/16em);
      line-height: 1.5em;
      margin: 0;
      color: var(--primary);
      display: block;
    }

    .cs-picture {
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-picture1 {
      width: 100%;
      height: 100%;
    }

    .cs-picture2 {
      width: 36.346863%;
      height: 39.878543%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1634 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .cs-flex {
      text-align: left;
      width: 40vw;
      max-width: (640/16rem);
      flex: none;
    }

    .cs-title {
      margin: 0;
    }

    .cs-h3,
    .cs-item-text {
      text-align: left;
    }

    .cs-item {
      grid-column: span 4;
    }

    .cs-image-group {
      width: 100%;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1634 {
    /* set the darker background color on the main div */
    background-color: #f8f5f1;
    overflow: hidden;

    .cs-content {
      align-items: flex-start;
    }

    .cs-flex {
      width: 50%;
    }

    .cs-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: (40/16rem);
      position: relative;
      z-index: 1;

      &:before {
        /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
        content: "";
        width: 100vw;
        height: 100vw;
        background: #fff;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
      }
    }

    .cs-card-group {
      max-width: (630/16rem);
      /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
      padding-top: (48/16rem);
      align-self: flex-start;
    }

    .cs-image-group {
      width: (542/16em);
      /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
      height: auto;
      min-height: (494/16em);
      /* makes it overlap the .cs-wrapper div */
      margin-top: (-48/16rem);
      order: 2;
      flex: none;
    }

    .cs-item {
      grid-column: span 12;
      flex-direction: row;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #why-choose-1634 {
      background-color: rgba(0, 0, 0, 0.3);

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-text,
      .cs-header {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-item-text {
        opacity: 0.8;
      }

      .cs-box {
        background-color: var(--dark);
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.2;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      .cs-wrapper {
        &:before {
          background-color: var(--dark);
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1574 {
    padding: var(--sectionPadding);
    position: relative;

    .cs-container {
      list-style: none;
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: (584/16rem);
      margin: auto;
    }

    .cs-card-group {
      width: 100%;
      padding: 0;
      display: grid;
      grid-auto-flow: row;
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      text-align: center;
      width: 100%;
      /* 24px - 40px top & bottom, 16px - 24px sides*/
      padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 3vw, 1.5rem);
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-icon {
      width: auto;
      height: (48/16rem);
      margin-bottom: (24/16rem);
    }

    .cs-stat {
      /* 31px - 39px */
      font-size: clamp(1.9375rem, 4vw, 2.4375rem);
      font-weight: 900;
      line-height: 1.2em;
      margin-bottom: (4/16rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-info {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 2vw, 1.25rem);
      line-height: 1.5em;
      color: var(--bodyTextColor);
    }

    .cs-background {
      width: 100%;
      height: (150/16rem);
      object-fit: cover;
      background-color: var(--primary);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1574 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-card-group {
      grid-template-columns: repeat(12, 1fr);
    }

    .cs-item {
      grid-column: span 3;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1574 {
    .cs-background {
      height: 50%;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #stats-1574 {
      .cs-item {
        background-color: var(--medium);
      }

      .cs-stat,
      .cs-info {
        color: var(--bodyTextColorWhite);
      }

      .cs-info {
        opacity: 0.8;
      }

      .cs-background {
        opacity: 0.4;
      }
    }
  }
}