/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-945 {
    padding: var(--sectionPadding);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-contact-group {
      width: 100%;
      margin-bottom: (32/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: (12/16rem);
    }

    .cs-link {
      text-decoration: none;
      padding-right: (30/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (16/16rem);
      position: relative;

      &:hover {
        &:before {
          width: 100%;
          height: (56/16em);
        }
        .cs-wrapper {
          transform: scale(1.2);
        }

        .cs-icon {
          transform: translateX(0.4375rem);
        }
      }

      &:before {
        /* light green circle that animates on hover */
        content: "";
        width: (48/16rem);
        height: (48/16rem);
        background: #eff1f0;
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%);
        transition: width 0.3s, height 0.3s, border-radius 0.3s;
      }
    }

    .cs-wrapper {
      width: (48/16rem);
      height: (48/16rem);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: (24/16rem);
      height: auto;
      display: block;
      transition: transform 0.3s;
    }

    .cs-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (4/16rem);
    }

    .cs-header {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-link-content {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
      font-size: ~"min(2.24vw, .844em)";
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: (650/16em);
      height: (687/16em);
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      /* clips the image to match the border radius of the cs-picture */
      overflow: hidden;
      display: block;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-picture1 {
      width: (349/16em);
      height: (590/16em);
      top: (49/16em);
      left: 0;
    }

    .cs-picture2 {
      width: (281/16em);
      height: (387/16em);
      top: 0;
      right: 0;
    }

    .cs-picture3 {
      width: (281/16em);
      height: (280/16em);
      bottom: 0;
      right: 0;
    }

    .cs-seal {
      width: (150/16em);
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -40%);
    }

    .cs-floater {
      display: none;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-945 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .cs-image-group {
      /* set to inherit at Large Desktop */
      font-size: ~"min(1.15vw, 1em)";
      margin: 0;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-content {
      width: 51%;
    }
  }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #sbs-945 {
    .cs-floater {
      width: (445/16rem);
      height: auto;
      display: block;
      position: absolute;
      right: 0;
      top: (0/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-945 {
      .cs-title,
      .cs-text,
      .cs-header,
      .cs-link-content {
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
      }

      .cs-text {
        opacity: 0.8;
      }

      .cs-link {
        &:before {
          background-color: var(--accent);
        }
      }

      .cs-icon {
        /* makes icons that are not black turn white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-graphic1,
      .cs-graphic2 {
        filter: brightness(50%);
      }
    }
  }
}
