/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-944 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 28px - 72px */
    gap: clamp(1.75rem, 6vw, 4.5rem);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: (522/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-text {
      margin-bottom: (16/16rem);

      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture-group {
      width: 100%;
      max-width: (630/16em);
      position: relative;
      overflow: hidden;

      &:hover {
        .cs-picture {
          img {
            transform: scale(1.2);
          }
        }

        .cs-picture {
          &:before {
            opacity: 0.6;
          }
        }
      }
    }

    .cs-picture {
      width: 100%;
      /* 280px - 380px */
      height: clamp(17.5rem, 43vw, 23.75rem);
      position: relative;
      display: block;
      z-index: 1;

      &:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.2;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -2;
        transition: transform 0.8s;
      }
    }

    .cs-play {
      /* 80px - 100px */
      width: clamp(5rem, 6vw, 6.25rem);
      height: clamp(5rem, 6vw, 6.25rem);
      border: 2px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--primary);
      }
    }

    .cs-play-icon {
      /* 20px - 24px */
      width: clamp(1.25rem, 1.5vw, 1.5rem);
      height: auto;
      display: block;
    }

    .cs-card-group {
      margin: 0;
      padding: 0;
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      width: 100%;
      text-align: center;
      list-style: none;
      margin: 0;
      /* 24px - 64px top & bottom */
      /* 24px - 40px left & right */
      padding: clamp(1.5rem, 6vw, 4rem) clamp(1.5rem, 6vw, 2.5rem);
      background-color: #f7f3ee;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      &:hover {
        .cs-h3 {
          color: var(--bodyTextColorWhite);
        }
        .cs-item-text {
          color: var(--bodyTextColorWhite);
          opacity: 0.9;
        }
        .cs-background {
          opacity: 1;
        }
      }
    }

    .cs-icon {
      width: (40/16rem);
      height: auto;
      margin: 0 0 (20/16rem) 0;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      max-width: (300/16rem);
      margin: 0 0 (32/16rem) 0;
      padding: 0;
      color: var(--bodyTextColor);
    }

    .cs-link {
      text-decoration: none;
      font-size: (16/20rem);
      line-height: 1.2em;
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: var(--primary);
      position: relative;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }

      &:before {
        /* underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: (0/16rem);
        left: 0;
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: opacity 0.3s;

      &:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.84;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }

    .cs-waves {
      width: 100%;
      /* 228px - 300px */
      height: clamp(14.25rem, 30vw, 18.75rem);
      background-color: var(--primary);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-944 {
    overflow: visible;
    .cs-container {
      max-width: (1280/16rem);
      justify-content: space-between;
      align-items: center;
      /* set flexbox back to the row orientation */
      flex-direction: row;
    }

    .cs-content {
      text-align: left;
      width: 44.6%;
      /* prevents flexbox from squishing it */
      flex: none;
      align-items: flex-start;
    }

    .cs-picture-group {
      width: 50%;
      /* sends it to the right in the 2nd position */
      order: 2;
    }

    .cs-card-group {
      max-width: (1280/16rem);
    }

    .cs-item {
      grid-column: span 4;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-944 {
      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-item-text {
        opacity: 0.9;
      }

      .cs-item {
        background-color: var(--medium);
      }

      .cs-waves {
        opacity: 0.7;
      }
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-945 {
    padding: var(--sectionPadding);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-contact-group {
      width: 100%;
      margin-bottom: (32/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: (12/16rem);
    }

    .cs-link {
      text-decoration: none;
      padding-right: (30/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (16/16rem);
      position: relative;

      &:hover {
        &:before {
          width: 100%;
          height: (56/16em);
        }
        .cs-wrapper {
          transform: scale(1.2);
        }

        .cs-icon {
          transform: translateX(0.4375rem);
        }
      }

      &:before {
        /* light green circle that animates on hover */
        content: "";
        width: (48/16rem);
        height: (48/16rem);
        background: #eff1f0;
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%);
        transition: width 0.3s, height 0.3s, border-radius 0.3s;
      }
    }

    .cs-wrapper {
      width: (48/16rem);
      height: (48/16rem);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: (24/16rem);
      height: auto;
      display: block;
      transition: transform 0.3s;
    }

    .cs-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (4/16rem);
    }

    .cs-header {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-link-content {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
      font-size: ~"min(2.24vw, .844em)";
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: (650/16em);
      height: (687/16em);
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      /* clips the image to match the border radius of the cs-picture */
      overflow: hidden;
      display: block;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-picture1 {
      width: (349/16em);
      height: (590/16em);
      top: (49/16em);
      left: 0;
    }

    .cs-picture2 {
      width: (281/16em);
      height: (387/16em);
      top: 0;
      right: 0;
    }

    .cs-picture3 {
      width: (281/16em);
      height: (280/16em);
      bottom: 0;
      right: 0;
    }

    .cs-seal {
      width: (150/16em);
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -40%);
    }

    .cs-floater {
      display: none;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-945 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .cs-image-group {
      /* set to inherit at Large Desktop */
      font-size: ~"min(1.15vw, 1em)";
      margin: 0;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-content {
      width: 51%;
    }
  }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #sbs-945 {
    .cs-floater {
      width: (445/16rem);
      height: auto;
      display: block;
      position: absolute;
      right: 0;
      top: (0/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-945 {
      .cs-title,
      .cs-text,
      .cs-header,
      .cs-link-content {
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
      }

      .cs-text {
        opacity: 0.8;
      }

      .cs-link {
        &:before {
          background-color: var(--accent);
        }
      }

      .cs-icon {
        /* makes icons that are not black turn white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-graphic1,
      .cs-graphic2 {
        filter: brightness(50%);
      }
    }
  }
}
