---
title: "Pixel Perfect Websites"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!--We needed to pull from Google Fonts CDN to load in the cursive font. -->
<!--Download the fonts from https://gwfh.mranftl.com/fonts and follow the steps to host it locally and remove these CDN links-->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap"
  rel="stylesheet"
/>

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-929">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Big Time Lawn<br /></h2>
      <h2 class="cs-title-2">Save Your Time.<br />Save Your Lawn.</h2>
      <div class="cs-flex">
        <div class="cs-content-group"></div>
        <div class="cs-hours-group">
          <div class="cs-hours">
            <span class="cs-header">Birmingham, Alabama</span>
            <p class="cs-text">
              Big Time Lawn provides top-notch lawn care services in the
              Birmingham, Hoover, Vestavia, Irondale, Fultondale, Forestdale,
              Homewood, Pelham, Alabaster, Jefferson County, and Greater
              Birmingham Areas.
            </p>
          </div>
          <a href="" class="cs-button-solid">Request Your Free Quote</a>
        </div>
      </div>
      <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
      <div class="cs-picture-group">
        <span class="cs-tagline">Flexible Pricing!</span>
        <!-- Lawn Mower Picture-->
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="assets/images/mower-m.png"
          />
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="assets/images/mower.png" />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/mower.png"
            alt="Lawn Mower"
            width="576"
            height="598"
          />
        </picture>
      </div>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="assets/images/grass-m.jpg" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="assets/images/grass.jpg" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/images/grass.jpg"
      alt="Lowing Landscape"
      width="1920"
      height="804"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-944">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Lawn Maintenance</span>
      <h2 class="cs-title">Transform Your Lawn with Expert Care</h2>
      <p class="cs-text">
        At <strong>Big Time Lawn</strong>, we specialize in providing top-notch
        lawn care services that go beyond maintenance. Our primary services
        mowing, precise edging, thorough weed eating, blowing, and garden bed
        weed control. Trust us to make your lawn the envy of the neighborhood.
      </p>
      <a
        class="cs-button-solid"
        aria-label="read more about our services"
        href=""
        >View All Services</a
      >
    </div>
    <!-- Right Image Section -->
    <div class="cs-picture-group">
      <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="assets/images/video.webp" />
        <source media="(min-width: 601px)" srcset="assets/images/video.webp" />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/video.webp"
          alt="Mowing Video"
          width="630"
          height="380"
          aria-hidden="true"
        />
      </picture>
      <a class="cs-play" href="">
        <img
          class="cs-play-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/play-white.svg"
          alt="play link"
          width="24"
          height="24"
          aria-hidden="true"
        />
      </a>
    </div>
  </div>
  <ul class="cs-card-group">
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/grass.svg"
        alt="Mowing"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Mowing</h3>
      <p class="cs-item-text">
        Our mowing service is executed to deliver a lush, well-manicured,
        healthy green lawn that enhances curb appeal.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-1.webp"
          alt="Mowing"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/weed.svg"
        alt="Weed Eating"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Weed Eating</h3>
      <p class="cs-item-text">
        Our thorough weed eating service targets and eliminates unwanted growth,
        ensuring a weed-free outdoor space.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-2.webp"
          alt="Weed Eating"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/garden.svg"
        alt="Edging"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Edging</h3>
      <p class="cs-item-text">
        Our precise edging service creates clean lines that contribute to a
        well-maintained, visually stunning landscape.
      </p>
      <a href="" class="cs-link">Read More</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-3.webp"
          alt="Edging"
          width="480"
          height="425"
        />
      </picture>
    </li>
  </ul>
  <!--Waves Background-->
  <picture class="cs-waves">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg"
      alt="waves graphic"
      width="1920"
      height="331"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-945">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Long Left Image-->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-1.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-1.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-1.webp"
          alt="hair salon"
          width="349"
          height="590"
        />
      </picture>
      <!--Top right image-->
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-2.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-2.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-2.webp"
          alt="hair salon"
          width="281"
          height="387"
        />
      </picture>
      <!--Bottom right image-->
      <picture class="cs-picture cs-picture3">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-3.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-3.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-3.webp"
          alt="hair salon"
          width="281"
          height="280"
        />
      </picture>
      <!--Seal-->
      <img
        class="cs-seal"
        loading="lazy"
        decoding="async"
        src="assets/images/seal.png"
        alt="Big Time Lawn Seal"
        width="150"
        height="150"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Big Time Lawn</span>
      <h2 class="cs-title">Rooted in Passion, Grown through Generations</h2>
      <p class="cs-text">
        With a combined experience of over 20 years, Big Time Lawn is a
        family-owned business founded on the principles of hard work and
        passion. Our journey began when my father started his landscaping
        business, and I joined him during summer days, sparking a lifelong love
        for transforming landscapes. Today, we are driven by the joy of serving
        others and bringing their landscaping dreams to life.
      </p>
      <div class="cs-contact-group">
        <a class="cs-link" href="mailto:Info@health&wellness.com">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-hair.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Send A Message</span>
            <span class="cs-link-content">Info@hairstyle.com</span>
          </div>
        </a>
        <a class="cs-link" href="">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-hair.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Visit Us At</span>
            <span class="cs-link-content">123 Fake St, Highland, IN</span>
          </div>
        </a>
      </div>
      <a href="" class="cs-button-solid" aria-label="learn more about us"
        >Learn More</a
      >
    </div>
  </div>
  <!--Zen Leaf Group-->
  <img
    class="cs-floater"
    loading="lazy"
    decoding="async"
    src="assets/images/mower-bg.png"
    alt="hair tools"
    width="445"
    height="310"
  />
</section>

{% include 'components/cta.html' %} {% endblock %}
