---
title: "Big Time Lawn & Home - Professional Lawn Care Services in Birmingham, Alabama"
description: "Transform your lawn with Big Time Lawn - Your trusted partner for quality lawn care services. Over 20 years of experience, personalized plans, and top-notch equipment."
preloadImg: "/assets/images/landing.webp"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!--We needed to pull from Google Fonts CDN to load in the cursive font. -->
<!--Download the fonts from https://gwfh.mranftl.com/fonts and follow the steps to host it locally and remove these CDN links-->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-929">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Big Time Lawn<br /></h2>
      <h2 class="cs-title-2">Save Your Time.<br />Save Your Lawn.</h2>
      <div class="cs-flex">
        <div class="cs-content-group"></div>
        <div class="cs-hours-group">
          <div class="cs-hours">
            <span class="cs-header">Birmingham, Alabama</span>
            <p class="cs-text">
              Big Time Lawn provides top-notch lawn care services in the
              Birmingham, Hoover, Vestavia, Irondale, Fultondale, Forestdale,
              Homewood, Pelham, Alabaster, Jefferson County, and Greater
              Birmingham Areas.
            </p>
          </div>
          <a href="contact" class="cs-button-solid">Request Your Free Quote</a>
        </div>
      </div>
      <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
      <div class="cs-picture-group">
        <!-- <span class="cs-tagline">Flexible Pricing!</span> -->
        <span class="cs-tagline"
          ><picture class="cs-picture-2">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="assets/images/best-of-the-best.webp"
              width="320"
              height="320"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="assets/images/best-of-the-best.webp"
            />
            <img
              decoding="async"
              src="assets/images/best-of-the-best.webp"
              alt="Shelby County Best of the Best"
              width="320"
              height="320"
            /> </picture
        ></span>
        <!-- Lawn Mower Picture-->
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="assets/images/mower-m.webp"
            width="360"
            height="425"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="assets/images/mower.webp"
          />
          <img
            decoding="async"
            src="assets/images/mower.webp"
            alt="Lawn Mower"
            width="576"
            height="598"
          />
        </picture>
      </div>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="assets/images/grass-m.webp" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="assets/images/grass.webp" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/images/grass.webp"
      alt="Lowing Landscape"
      width="1920"
      height="804"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-944">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Lawn Maintenance</span>
      <h2 class="cs-title">Transform Your Lawn with Expert Care</h2>
      <p class="cs-text">
        At <strong>Big Time Lawn</strong>, we specialize in providing top-notch
        lawn care services that go beyond maintenance. Our primary services
        mowing, precise edging, thorough weed eating, blowing, and garden bed
        weed control. Trust us to make your lawn the envy of the neighborhood.
      </p>
      <a class="cs-button-solid" aria-label="View Our Services" href="services"
        >View All Services</a
      >
    </div>
    <!-- Right Image Section -->
    <div class="cs-picture-group">
      <div
        style="
          height: 0px;
          overflow: hidden;
          padding-top: 56.25%;
          position: relative;
          width: 100%;
        "
      >
        <iframe
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
          "
          src="https://tube.rvere.com/embed?v=CQVNfyVcU0o&fs=0&color=white&showinfo=0&controls=1&autohid=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
  <ul class="cs-card-group">
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/grass.svg"
        alt="Mowing"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Mowing</h3>
      <p class="cs-item-text">
        Our mowing service is executed to deliver a lush, well-manicured,
        healthy green lawn that enhances curb appeal.
      </p>
      <a href="services" class="cs-link">View Our Process</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-1.webp"
          alt="Mowing"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/weed.svg"
        alt="Weed Eating"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Weed Eating</h3>
      <p class="cs-item-text">
        Our thorough weed eating service targets and eliminates unwanted growth,
        ensuring a weed-free outdoor space.
      </p>
      <a href="services" class="cs-link">View Our Process</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-2.webp"
          alt="Weed Eating"
          width="480"
          height="425"
        />
      </picture>
    </li>
    <li class="cs-item">
      <img
        class="cs-icon"
        loading="lazy"
        decoding="async"
        src="assets/svgs/garden.svg"
        alt="Edging"
        width="40"
        height="40"
      />
      <h3 class="cs-h3">Edging</h3>
      <p class="cs-item-text">
        Our precise edging service creates clean lines that contribute to a
        well-maintained, visually stunning landscape.
      </p>
      <a href="services" class="cs-link">View Our Process</a>
      <!--Background Image-->
      <picture class="cs-background">
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/lawn-3.webp"
          alt="Edging"
          width="480"
          height="425"
        />
      </picture>
    </li>
  </ul>
  <!--Waves Background-->
  <picture class="cs-waves">
    <source media="(max-width: 600px)" srcset="assets/svgs/waves-m.svg" />
    <source media="(min-width: 601px)" srcset="assets/svgs/waves.svg" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/svgs/waves.svg"
      alt="waves graphic"
      width="1920"
      height="331"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-945">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Long Left Image-->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-1.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-1.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-1.webp"
          alt="hair salon"
          width="349"
          height="590"
        />
      </picture>
      <!--Top right image-->
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-2.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-2.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-2.webp"
          alt="hair salon"
          width="281"
          height="387"
        />
      </picture>
      <!--Bottom right image-->
      <picture class="cs-picture cs-picture3">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="assets/images/about-3.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="assets/images/about-3.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/about-3.webp"
          alt="hair salon"
          width="281"
          height="280"
        />
      </picture>
      <!--Seal-->
      <img
        class="cs-seal"
        loading="lazy"
        decoding="async"
        src="assets/images/seal.webp"
        alt="Big Time Lawn Seal"
        width="150"
        height="150"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Big Time Lawn</span>
      <h2 class="cs-title">Rooted in Passion, Grown through Generations</h2>
      <p class="cs-text">
        With a combined experience of over 20 years, Big Time Lawn is a
        family-owned business founded on the principles of hard work and
        passion. Our journey began when my father started his landscaping
        business, and I joined him during summer days, sparking a lifelong love
        for transforming landscapes. Today, we are driven by the joy of serving
        others and bringing their landscaping dreams to life.
      </p>
      <div class="cs-contact-group">
        <a class="cs-link" href="tel:+12059832268">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="assets/svgs/pin.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Drop a Line</span>
            <span class="cs-link-content">(205) 983-2268</span>
          </div>
        </a>
        <a class="cs-link" href="mailto:porter@bigtimelawn.com">
          <picture class="cs-wrapper">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="assets/svgs/email.svg"
              alt="icon"
              width="24"
              height="24"
            />
          </picture>
          <div class="cs-info">
            <span class="cs-header">Send a Message</span>
            <span class="cs-link-content">porter@bigtimelawn.com</span>
          </div>
        </a>
      </div>
      <a
        href="about"
        class="cs-button-solid"
        aria-label="More About Big Time Lawn"
        >More About Big Time Lawn</a
      >
    </div>
  </div>
  <!--Zen Leaf Group-->
  <img
    class="cs-floater"
    loading="lazy"
    decoding="async"
    src="assets/images/mower-bg.webp"
    alt="hair tools"
    width="445"
    height="310"
  />
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-965">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">Beyond Lawn Maintenance</h2>
      <p class="cs-text">
        In addition to our exceptional lawn maintenance, we offer a range of
        featured services to enhance your outdoor space. From Mulch & Pinestraw
        Installs to Shrub and Tree Installations, Core Aerations, Fence
        Installs, Sod Installations, Land Clearing, and Annual Top Dressings, we
        have the expertise to turn your landscape vision into reality.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Mulch & Pinestraw</h3>
        <p class="cs-item-text">
          Enhance the aesthetics of your landscape with our Mulch and Pinestraw
          Installation service, providing a protective and visually pleasing
          layer that promotes plant health.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Mulch and Pinestraw"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Shrub, Tree, & Sod</h3>
        <p class="cs-item-text">
          Transform your outdoor space with our comprehensive Shrub, Tree, and
          Sod Installation services, expertly tailored to add greenery,
          structure, and vitality to your lawn.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Shrub, Tree, and Sod"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Core Aerations</h3>
        <p class="cs-item-text">
          Boost the health of your lawn with Core Aerations, a specialized
          service that facilitates better air and nutrient absorption, resulting
          in a lush, thriving turf.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Core Aerations"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Fence Installation</h3>
        <p class="cs-item-text">
          Ensure privacy and security for your property with our professional
          Fence Installation service, combining functionality and style to
          complement your landscape.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Fence Installation"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Land Clearing</h3>
        <p class="cs-item-text">
          Prepare your land for new possibilities with our Land Clearing
          service, expertly removing obstacles and creating a clean canvas for
          your landscaping vision.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Land Clearing"
            width="480"
            height="425"
          />
        </picture>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/svgs/trees.svg"
            alt="Trees"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Annual Top Dressings</h3>
        <p class="cs-item-text">
          Preserve and enrich your soil with our Annual Top Dressings, a vital
          service that rejuvenates and fortifies your lawn, ensuring
          long-lasting health and vibrancy.
        </p>
        <a href="services" class="cs-link">View Our Process</a>
        <!--Background Image-->
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/lawn-3.webp"
            alt="Annual Top Dressings"
            width="480"
            height="425"
          />
        </picture>
      </li>
    </ul>
  </div>
  <!--Waves Background-->
  <picture class="cs-waves">
    <source media="(max-width: 600px)" srcset="assets/svgs/waves-m.svg" />
    <source media="(min-width: 601px)" srcset="assets/svgs/waves.svg" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/svgs/waves.svg"
      alt="waves graphic"
      width="1920"
      height="331"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-47">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Project Gallery</span>
      <h2 class="cs-title">Explore Our Completed Projects</h2>
      <p class="cs-text">
        Witness the transformation. Browse through our project gallery
        showcasing over 10,000 lawns we've mowed and numerous landscaping
        projects we've successfully completed over our two-decade journey. Let
        our work speak for itself.
      </p>
    </div>
    <ul class="cs-image-group">
      <!-- Image 1 -->
      <li class="cs-item cs-item-1">
        <a
          href="https://www.facebook.com/photo/?fbid=457960156990251&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-7-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-7.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-7.webp"
              alt="Fence Installation"
              width="529"
              height="256"
            /> </picture
        ></a>
      </li>
      <!-- Image 2 -->
      <li class="cs-item cs-item-2">
        <a
          href="https://www.facebook.com/photo/?fbid=585585104227755&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-9-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-9.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-9.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 3 -->
      <li class="cs-item cs-item-3">
        <a
          href="https://www.facebook.com/photo/?fbid=457960180323582&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-10-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-10.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-10.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 4 -->
      <li class="cs-item cs-item-4">
        <a
          href="https://www.facebook.com/photo/?fbid=393527706766830&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-11-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-11.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-11.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 5 -->
      <li class="cs-item cs-item-5">
        <a
          href="https://www.facebook.com/photo/?fbid=457960166990250&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-12-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-12.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-12.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="255"
            /> </picture
        ></a>
      </li>
      <!-- Image 6 -->
      <li class="cs-item cs-item-6">
        <a
          href="https://www.facebook.com/photo/?fbid=400125092773758&set=pb.100083288109482.-2207520000"
          aria-label="Facebook Photo Gallery"
          target="_blank"
        >
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/gallery/gallery-8-m.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/gallery/gallery-8.webp"
            />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/gallery/gallery-8.webp"
              alt="Completed Big Time Lawn Project"
              width="255"
              height="530"
            /> </picture
        ></a>
      </li>
    </ul>
    <a href="gallery" class="cs-button-solid">View Full Gallery</a>
  </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1634">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Why Choose Us</span>
        <h2 class="cs-title">The Big Time Lawn Difference</h2>
      </div>
      <p class="cs-text">
        As a small team of four dedicated professionals, we take the time to
        understand your needs, ensuring a personalized approach that makes your
        lawn the best it can possibly look. Trust us for reliability,
        transparency, and a landscape that exceeds your expectations.
      </p>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="assets/svgs/bell.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Quality Service</h3>
            <p class="cs-item-text">
              We care for every aspect of your lawn, ensuring that every service
              we provide reflects our dedication to excellence and your
              satisfaction.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="assets/svgs/chat.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Effective Communication</h3>
            <p class="cs-item-text">
              We believe in transparent and open dialogue, keeping you informed
              at every step of the process, so you can have peace of mind
              knowing that your concerns and preferences are heard and
              addressed.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-icon-wrapper">
            <img
              class="cs-icon"
              src="assets/svgs/target.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Superb Results</h3>
            <p class="cs-item-text">
              Choosing Big Time Lawn means choosing proven results; our
              expertise ensures that your lawn will not only meet but exceed
              your expectations, making it the best it can possibly look.
            </p>
          </div>
        </li>
      </ul>
      <div class="cs-image-group">
        <div class="cs-picture-wrapper">
          <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="assets/images/why-1.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="assets/images/why-1.webp"
            />
            <img
              loading="lazy"
              decoding="async"
              src="assets/images/why-1.webp"
              alt="Shrub and Tree Installation"
              width="434"
              height="414"
            />
          </picture>
          <div class="cs-box">
            <span class="cs-header">Big Time Lawn & Home</span>
            <span class="cs-desc">Save Your Time. Save Your Lawn.</span>
          </div>
        </div>
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="assets/images/why-2.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="assets/images/why-2.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/why-2.webp"
            alt="Beautiful Lawns"
            width="197"
            height="197"
          />
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1574">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-icon"
          src="assets/svgs/grass.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">10,000+</span>
        <span class="cs-info">Lawns Mowed</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="assets/svgs/weed.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">20+</span>
        <span class="cs-info">Years of Experience</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="assets/svgs/ecomm-hand.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">4</span>
        <span class="cs-info">Dedicated Team Members</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          src="assets/svgs/ecomm-thumb.svg"
          alt="icon"
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        <span class="cs-stat">100%</span>
        <span class="cs-info">Customer Satisfaction</span>
      </li>
    </ul>
  </div>
  <img
    class="cs-background"
    src="assets/svgs/ecomm-waves.svg"
    alt="waves"
    width="1920"
    height="500"
    loading="lazy"
    decoding="async"
  />
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1713">
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="assets/images/steps.webp" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="assets/images/steps.webp" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/images/steps.webp"
      alt="busines meeting"
      width="522"
      height="609"
      aria-hidden="true"
    />
  </picture>
  <div class="cs-container">
    <div class="cs-wrapper">
      <div class="cs-content">
        <span class="cs-topper">Our Steps</span>
        <h2 class="cs-title">
          Four Easy Steps to Complete Your Transformation
        </h2>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-number">01</span>
          <div class="cs-flex">
            <h3 class="cs-h3">Inquiry</h3>
            <p class="cs-item-text">
              Fill out our online form to share your landscaping needs. This
              initial step helps us gather crucial information to tailor our
              services precisely to your requirements.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-number">02</span>
          <div class="cs-flex">
            <h3 class="cs-h3">Consultation</h3>
            <p class="cs-item-text">
              Our team will promptly reach out to schedule an initial
              consultation. During this personalized meeting, we delve deeper
              into your landscaping vision.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-number">03</span>
          <div class="cs-flex">
            <h3 class="cs-h3">Proposal</h3>
            <p class="cs-item-text">
              We'll craft a detailed and personalized proposal that outlines
              your tailored lawn care plan. This proposal encompasses the
              discussed services, frequency of visits, and associated costs,
              ensuring complete transparency.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-number">04</span>
          <div class="cs-flex">
            <h3 class="cs-h3">Service Kickoff</h3>
            <p class="cs-item-text">
              Our dedicated team arrives at your property on the agreed-upon
              schedule. We begin transforming your landscape, ensuring each step
              aligns with the discussed plan and your desired outcomes.
            </p>
          </div>
        </li>
        <li class="cs-wrapper">
          <div class="cs-content">
            <a href="contact" class="cs-button-solid">Request a Quote</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Reviews</span>
      <h2 class="cs-title">Real Stories, Real Satisfaction</h2>
      <p class="cs-text">
        Relive the positive experiences of our satisfied clients. Their
        testimonials reflect the commitment we have to delivering exceptional
        service and making landscape dreams a reality.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="assets/images/reviews-1.webp"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Barron Polk
            <span class="cs-job">Lawncare</span>
          </span>
        </div>
        <p class="cs-review">
          Excellent service, very knowledgeable, didn't mind being disturbed
          with questions. They were efficient, kept me informed of progress and
          when they were done, they cleaned everything. I'm definitely a
          lifetime customer
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="assets/images/reviews-2.webp"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            James Logan
            <span class="cs-job">Lawn & Home</span>
          </span>
        </div>
        <p class="cs-review">
          Wonderful work and the best communication that I could ask for. Would
          recommend to anyone needing work done on their lawn or home in the
          area.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="assets/images/reviews-3.webp"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Kimberly Arnwine
            <span class="cs-job">Tree Removal & Lawn</span>
          </span>
        </div>
        <p class="cs-review">
          They cut down some trees for me and installed all new sod. Loved the
          work and good to have guys you can trust. Would use again and will
          continue to be my lawn and home guys!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="assets/svgs/stars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
    </ul>
  </div>
  <!--Top Left Quote-->
  <img
    class="cs-quote1"
    aria-hidden="true"
    src="assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
  <!--Top Right Quote-->
  <img
    class="cs-quote2"
    aria-hidden="true"
    src="assets/svgs/quote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1109">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">FAQs</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="assets/images/faq.webp" />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="assets/images/faq.webp" />
        <img
          loading="lazy"
          decoding="async"
          src="assets/images/faq.webp"
          alt="Pinestraw Installation"
          width="522"
          height="400"
        />
      </picture>
    </div>
    <div class="cs-flex-group">
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">
              How frequently should I schedule maintenance?
            </span>
          </button>
          <p class="cs-item-p">
            We recommend a regular schedule, typically every two weeks, to
            maintain optimal lawn health.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What sets your lawn care apart from others?
            </span>
          </button>
          <p class="cs-item-p">
            Our personalized approach, attention to detail, and open
            communication distinguish us. We prioritize understanding your
            unique needs for a tailored and satisfactory experience.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Do you handle different types of landscapes?
            </span>
          </button>
          <p class="cs-item-p">
            Yes, our team brings over 20 years of combined experience, ensuring
            expertise in handling various landscapes, from residential lawns to
            commercial properties.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Can I customize my lawn care plan?
            </span>
          </button>
          <p class="cs-item-p">
            Absolutely! We understand that each lawn is unique. Our services are
            customizable, allowing you to tailor your lawn care plan to meet
            your specific preferences and requirements.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What equipment do you use for your services?
            </span>
          </button>
          <p class="cs-item-p">
            We use only the best equipment, locally sourced from "Three M Karts
            & Mowers," featuring trusted brands such as Exmark and Stihl for
            reliable and efficient results.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Do you offer one-time services?
            </span>
          </button>
          <p class="cs-item-p">
            While we offer subscription-based monthly maintenance, we also
            provide one-time services and customized plans to accommodate
            various lawn care needs.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1315">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Pricing</span>
      <h2 class="cs-title">Flexible Pricing Plans for Every Landscape</h2>
      <p class="cs-text">
        Choosing Big Time Lawn means not just investing in your lawn but also in
        the peace of mind that comes with transparent and flexible pricing
        options tailored to your needs.
      </p>
      <a href="services" class="cs-button-solid">View Our Services</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <span class="cs-package">Monthly Maintenance</span>
        <span class="cs-desc">Hassle-Free Lawn Care</span>
        <span class="cs-price">
          $155
          <span class="cs-duration">/Month</span>
        </span>
        <ul class="cs-ul">
          <li class="cs-li">Mowing</li>
          <li class="cs-li">Precise Edging</li>
          <li class="cs-li">Weed Eating</li>
          <li class="cs-li">Blowing</li>
          <li class="cs-li">Garden Bed Weed Control</li>
          <li class="cs-li"><em>Pricing Will Vary</em></li>
        </ul>
        <a href="" class="cs-button-transparent">Request a Quote</a>
      </li>
      <li class="cs-item">
        <span class="cs-package">Custom Pricing</span>
        <span class="cs-desc">Your Choice of Services</span>
        <ul class="cs-ul">
          <li class="cs-li">Lawn Maintenance</li>
          <li class="cs-li">Mulch & Pinestraw</li>
          <li class="cs-li">Shrub, Sod, & Tree</li>
          <li class="cs-li">Core Aerations</li>
          <li class="cs-li">Fence Installation</li>
          <li class="cs-li">Land Clearing</li>
          <li class="cs-li">Annual Top Dressings</li>
          <li class="cs-li"><em>And More!</em></li>
        </ul>
        <a href="contact" class="cs-button-transparent">Request a Quote</a>
      </li>
    </ul>
  </div>
  <img
    class="cs-floater"
    aria-hidden="true"
    src="assets/svgs/diamond-pattern.svg"
    decoding="async"
    alt="moon"
    width="652"
    height="447"
  />
</section>

{% include 'components/cta.html' %} {% endblock %}
